
/*css for my portfolio*/

/*font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Slabo 27px', serif;
font-family: 'Acme', sans-serif;
font-family: 'DM Serif Text', serif;*/

.jumbotron {
  /*background-image: url("../images/bridgethegap2.jpg");*/
  background-image: url("../images/GoldenGateBridge.jpeg");
  color: white;
  height : 300px;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom:0;
}

.cl-contact {
  color: #297694;
}

.contactme {
  padding-top: 30px;
  padding-bottom:20px;
  height:20rm;
}

.contact-img {
  text-align: center;
  width: 33.3%;
  padding-bottom:15px;
}

.emailme {
  height:20rm;
}

.spacer {
  height:40px;
}

/*Modal*/
.modal-title {
  background-color: #297694;
  text-align:center;
}

.modal-header {
  background-color: #297694;
  color:white;
  text-align:center;
}

#submit-btn {
  background-color: #297694;
  color:white;
}

/*Cards*/
.cardh3 {
  background-color: #76BCD7;
  color:white;
  text-align:center;
  margin-top:30px;
  margin-bottom: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.cardh4 {
  background-color: #F0C58D;
  color:white;
  text-align:center;
  margin-bottom:0px;
  margin-top:30px;
  font-family: Futura;
}

.card-project {
  background-color: #76BCD7;
}

.btn-project {
  background-color: #F0C58D;
  color:white;
}

.card-footer {
  background-color:white;
  border-top:0;
}

.card-about {
 height:18rem;
}

.project {
  margin-left:0;
  margin-right:0;
  padding:0;
  font-family: 'Acme', sans-serif;;
}

.prow {
  margin-bottom:0;
  margin-top:0;
}

.img-fluid {
  display:block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  /*margin: auto;    
  display: block;
  height:100%;
  width:100%;*/
}

/*.col-sm-3 {
  padding-left: 5px;
  padding-right: 5px;
}*/

/*Navbar*/
.navbar {
  color: white;
  background-color: #297694;
  border-bottom: solid 5px #76BCD7;
}
.nav-link {
  color:white;
}
.navbar-brand {
  color:white;
}

/* Footer */
footer  {
  width: 100%;
  height: 50px;
  background-color:#297694;
  color:white;
  border-top: solid 10px #76BCD7;
  border-bottom: none;
  position: relative;
  text-align:center;
}

/*font awesome*/
.fa-linkedin{
  font-size: 2.5rem;
  color: #F0C58D;
}

.fa-github{
  font-size: 2.5rem;
  color: #F0C58D;
}


/*.tooltip{
  background:black;
  color:white;
  padding:5px;
  box-shadow:0 0 10px 0 rgba(0, 0, 0, 1);
  border-radius:10px;
  opacity:0;
}*/