
/*css for my portfolio*/

.jumbotron {
  background-image: url("../images/bridgethegap2.jpg");
  color: white;
  height : 300px;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom:0;
}

/*Modal*/
.modal-title {
  background-color: #297694;
  text-align:center;
}

.modal-header {
  background-color: #297694;
  color:white;
  text-align:center;
}

#submit-btn {
  background-color: #297694;
  color:white;
}

/*Cards*/
.cardh3 {
  background-color: #76BCD7;
  color:white;
  text-align:center;
  margin-top:30px;
  margin-bottom: 0;
  border:0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.cardh4 {
  background-color: #F0C58D;
  color:white;
  text-align:center;
  margin-bottom:0px;
  margin-top:30px;
  border:0;
  font-family: Futura;
}

/*.col-sm-3 {
  padding-left: 5px;
  padding-right: 5px;
}*/

/*Navbar*/
.navbar {
  color: white;
  background-color: #297694;
  border-bottom: solid 5px #76BCD7;
}
.nav-link {
  color:white;
}
.navbar-brand {
  color:white;
}

/* Footer */
footer  {
  width: 100%;
  height: 50px;
  background-color:#297694;
  color:white;
  border-top: solid 10px #76BCD7;
  border-bottom: none;
  position: relative;
  text-align:center;
}